.card {
    background: #2a2a3f;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 0.5rem;
    cursor: pointer;
    color: #fff;
  }

  .timestamp {
    display: block;
    font-size: 0.75rem;
    color: #2a2a3f;
    margin-top: 4px;
  }
  
  
  .card.low { background-color: #8fc8ff; color: #000; }
  .card.medium { background-color: #ffd88f; color: #000; }
  .card.high { background-color: #ff8f8f; color: #000; }
  